html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  /* Set background color and image */
  background-color: #1e2027;
  background-image: url("../icons/backgroundImg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
/*Header styles*/

header h1 {
  font-weight: 500;
  color:white;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items:center;
}

h1 img {
  height: 2.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
}

/* Main app container */
.app {
  text-align: center;
  padding: 1rem;
}

/* Search bar styles */
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: -1em;
}

.search input {
  width: 40%;
  padding: 1em;
  margin: 0.8em 0;
  font-weight: 500;
  background-color: #1e2027;
  border: none;
  border-radius: 0.7em;
  outline: none;
  color: white;
}

/* Button styles */
button {
  background-color: #6e6cd8;
  color: #f2f2f2;
  padding: 0.5em 2em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.8em;
  margin-left: -1em;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 0.6em;
  border: none;
}

button:hover {
  background-color: white;
  color: black;
}

/* Main content container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
}

/* city-container weather card styles */
.city-container {
  color: white;
  padding: 0rem;
  border-radius: 1em;
  width: 94%;
  height: 95%;
  font-size: 1rem;
}

/* Add styles for the scrollable container */
.scroll-container {
  height: 69rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #6e6cd8 #1e2027;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #1e2027;
    border: 1em solid #353845;
    border-radius: 1em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #213d7b;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1c3569;
  }

  &::-webkit-scrollbar-button {
    display: block;
  }

  /* Top arrow button */
  &::-webkit-scrollbar-button:start:decrement {
    height: 20px;
  }

  /* Bottom arrow button */
  &::-webkit-scrollbar-button:end:increment {
    height: 20px;
  }

  /* Left arrow button */
  &::-webkit-scrollbar-button:horizontal:start:decrement {
    width: 20px;
  }

  /* Right arrow button */
  &::-webkit-scrollbar-button:horizontal:end:increment {
    width: 20px;
  }
}

/* Row styles */
.row {
  margin: 5%;
}

#row-city {
  padding-right: 10%;
}

#row-city span {
  padding-left: 5px;
  font-size: 1.1em;
}

/* Column styles */
.column {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 60%;
}

/* Weather info column styles */
#weather-info {
  /* Set background image for the weather info column */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0%;
  justify-content: center;
  align-items: center;
  margin-top: -5em;
  font-size: 0.6em;
}

/* Additional info column styles */
#additional-info {
  background-color: #383b47;
  justify-content: center;
  color: white;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  max-height: 10em;
  font-size: 0.6em;
}

/* Weather icon column styles */
#weather-icon {
  font-size: medium;
}

/* Pressure and wind info column styles */
#pressure-info,
#wind-info {
  border-right: 1.5px solid rgb(93, 96, 93);
  height: 100%;
  padding-right: 8%;
}

/* Wind icon styles */
#wind-info img {
  width: 30%;
  height: 30%;
}

/* Weather icon 1 styles */
.wIcon-1 {
  max-width: 20%;
  max-height: 20%;
  padding-bottom: 0;
  filter: invert(100%);
  margin-bottom: -0.789em;
  margin-right: 0.5em;
}

/* Weather icon 2 styles */
.wIcon-2 {
  max-width: 60%;
  max-height: 60%;
  filter: invert(100%);
}

#city-info {
  margin-top: -30px;
  font-size: 0.7rem;
  margin-bottom: 50px;
}

#city-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

/* City display styles */
.display-city {
  color: white;
  border-radius: 10px;

  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}

.display-city #additional-info {
  font-size: 0.8em;
}

.display-city #temp-info #p,
#temp-info h2 {
  margin-top: -0.3em;
}

.display-city #temp-info {
  border-left: 0.15em solid rgb(245, 247, 245);
  height: 100%;
  padding-left: 8%;
  font-size: 0.7rem;
}

.display-city #city-info p {
  font-size: 0.8rem;
}

/*City weather Styles*/
.city-weather #temp-info {
  margin-top: 8em;
}

.city-weather #weather-info {
  background-image: url("../icons/boxBackgroungImg.png");
}

/* Back arrow icon styles */
#backArrow {
  max-width: 1.75em;
  max-height: 1.75em;
}

/* Close icon styles */
#closeIcon {
  padding-left: 97%;
  max-width: 1.25em;
  max-height: 1.25em;
}

/* Icon styles */
.icon {
  filter: invert(100%);
  width: 4%;
  height: 4%;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 0.3em;
  background-color: #383b47;
  color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  body {
    background-size: cover; /* Adjust background size for better fit */
  }

  .app {
    padding: 0.5rem; /* Reduce padding */
  }

  .search input {
    width: 100%; /* Make search input full width */
  }

  .container {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 1rem; /* Reduce gap between columns */
    padding: 0 1rem;
  }
}
